.container{
  background-image: url('./components/assets/fon.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #e6b98f8f ;
  min-width: 650px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
h1{
  text-align: center;
  color: #492b0f;
}
.input{
 outline: none;
 width: 400px;
 padding: 15px;
 font-size: 20px;
 border-radius: 10px;
 background-color: rgba(52, 32, 32, 0.599);
 border: 1px solid #eaeaea;
 margin-top: 0.5em;
}
.add-button{
cursor: pointer;
width: 70px;
padding: 15px 15px;
font-size: 20px;
color: #aaa5a5dd;
margin-top: 0.5em;
border-radius: 10px;
border: 0;
background-color: #472505fd;
}
.icons{
 width: 25px;
 margin-left: 1em;
 border: 1px solid #492b0f;
 border-radius: 10px;
 padding: 0.15em;
 background-color: #492b0fa8;
} 
.input-form{
  display: flex;
  justify-content: space-around;
}
.todo-list{
  display: flex;
  justify-content: space-between;
  color: #1d0d0d;
  font-size: 1.5rem;
  margin: 1em;
  
} 
.complete{
 text-decoration: line-through;
}

